.cart{
    h3.cart-header{
        margin-bottom: 20px;
    }
    ul.cart-list{
        li.cart-item {
            display: flex;
            margin-bottom: 10px;
            img{
                width: 70px;
                margin-right: 10px;
            }
            .item-info{
                .item-name{
                    margin-bottom: 5px;
                }
            }
        }
    }
    .total-action{
        .total{
            margin-bottom: 10px;
        }
    }
}