@import "products";
@import "product";
@import "cart";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

.container {
    display: flex;
    .main {
        flex: 3 1 45rem;
    }
    .sidebar {
        flex: 1 1 20rem;
        padding: 40px 0;
    }
}